<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new airport</title>
</head>
<body style="font-family:Arial, Helvetica, sans-serif">
    <h1>Input information of a new airport</h1>
    <script>
        {% if msg[0]==True %}
            alert('{{ msg[1] }}');
        {% endif %}
    </script>

    <form method="post">
        <label for="airport_name">Airport IATA code:</label>
        <input type="text" id="airport_name" name="airport_name">
        <label for="airport_city">City:</label>
        <input type="text" id="airport_city" name="airport_city">
        <input type="submit" value="Add" name="Add">
    </form>

    <a href="{{ url_for('home') }}">Home</a>

</body>