<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Flight Information</title>
</head>
<body style="font-family:Arial, Helvetica, sans-serif">
    <h1>Current flights</h1>
    {% if msg[0]==True %}
        <script>
            alert('{{ msg[1] }}');
        </script>
    {% endif %}

    <table border="1">
        <tr>
            <th>Flight</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Status</th>
            <th>Available seats</th>
            <th>Departure Airport</th>
            <th>Departure City</th>
            <th>Arrival Airport</th>
            <th>Arrival City</th>
        </tr>
        {% for flight in flights %}
        <tr>
        <td> {{ flight['IATA_code'] }}{{ "%03d" | format(flight['flight_num']) }} </td>
        <td> {{ flight['Departure_time'] }} </td>
        <td> {{ flight['Arrival_time'] }} </td>
        {% if flight['status_now'] == 'completed' %}
            <td  style="color: grey;"> {{ flight['status_now'] }} </td>
        {% elif flight['status_now'] == 'cancelled' %}
            <td  style="color: red;"> {{ flight['status_now'] }} </td>
        {% elif flight['status_now'] == 'upcoming' %}
            <td  style="color: black;"> {{ flight['status_now'] }} </td>
        {% elif flight['status_now'] == 'delayed' %}
            <td  style="color: orange;"> {{ flight['status_now'] }} </td>
        {% else %}
            <td  style="color: green;"> {{ flight['status_now'] }} </td>
        {% endif %}
        <td> {{ flight['remaining_seats'] }} </td>
        <td> {{ flight['Departure_Airport'] }} </td>
        <td> {{flight['Departure_city']}} </td>
        <td> {{flight['Arrival_Airport']}} </td>
        <td> {{flight['Arrival_city']}} </td>
        </tr>
        {% endfor %}

    </table>

    <h2>Change status of the flight</h2>
    <form method="post">
        <label for="flight_id">Flight ID:</label>
        <input type="text" id="flight_id" name="flight_id">
        <label for="new_departure_time">New Departure Time:</label>
        <input type="datetime-local" id="new_departure_time" name="new_departure_time">
        <label type="new_arrival_time">New Arrival Time:</label>
        <input type="datetime-local" id="new_arrival_time" name="new_arrival_time">
        <input type="submit" value="Change" name="Change">
    </form><br>

    <h2>Or cancel the flight</h2>
    <form method="post">
        <label for="flight_id">Flight ID:</label>
        <input type="text" id="flight_id" name="flight_id">
        <input type="submit" value="Cancel" name="Cancel">
    </form><br>
    <a href="{{ url_for('home') }}">Home</a>

</body>