<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body style="font-family:Arial, Helvetica, sans-serif">
    <h1>Create New Flight</h1>
    {% if msg[0]==True %}
        <script>
            alert('{{ msg[1] }}');
        </script>
    {% endif %}
    <form method="post">
        <label for="departure_airport">Departure Airport:</label>
        <select name="departure_airport" id="departure_airport" value="{{ request.form['departure_airport'] }}">
            {% for airport in airport_lst %}
                <option value="{{ airport }}">{{ airport }}</option>
            {% endfor %}
        </select><br>
        <label for="arrival_airport">Arrival Airport:</label>
        <select name="arrival_airport" id="arrival_airport">
        {% for airport in airport_lst %}
            <option value="{{ airport }}">{{ airport }}</option>
        {% endfor %}
        </select><br>
        <label for="departure_time">Departure Time:</label>
        <input type="datetime-local" id="departure_time" name="departure_time" required><br>
        <label for="arrival_time">Arrival Time:</label>
        <input type="datetime-local" id="arrival_time" name="arrival_time" required><br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required><br>
        <label for="Airplane_id">Airplane ID:</label>
        <select name="Airplane_id" id="Airplane_id">
            {% for airplane in airplane_lst %}
                <option value="{{ airplane['Airplane_id'] }}">{{ airplane["Airplane_id"] }}, seats: {{ airplane["seats"] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Create" name="Create">
    </form>

    <a href="{{ url_for('home') }}">Home</a>
</body>