<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Staff</title>
</head>
<body style="font-family:Arial, Helvetica, sans-serif">
    {% if msg[0]==True %}
        <script>
            alert('{{ msg[1] }}');
        </script>
    {% endif %}
    <h1>Manage Staff</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Date of Birth</th>
            <th>Admin</th>
            <th>Operator</th>
        </tr>
    {% for staff in staff_lst %}
        <tr>
            <td>{{ staff['first_name'] }} {{ staff['last_name'] }}</td>
            <td>{{ staff['username'] }}</td>
            <td>{{ staff['date_of_birth'] }}</td>
            <td>{{ staff['Admin_perm'] }}</td>
            <td>{{ staff['Oper_perm'] }}</td>
        </tr>
    {% endfor %}
    </table>

    {% if session.admin %}
    <h1>Grant permission to your staff</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="username" id="username" name="username" required>
        <label for="permission">Grant permission: </label>
        <select name="permission" id="permission" required>
            <option value="Admin_perm">Admin</option>
            <option value="Oper_perm">Operator</option>
        <input type="submit" value="Grant" name="Grant">
    </form>

    {% endif %}

    <a href = "{{ url_for('home') }}" >Home</a>
</body>