<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View frequent customers</title>
</head>
<body style="font-family:Arial, Helvetica, sans-serif">
    {% if msg[0]==True %}
        <script>
            alert('{{ msg[1] }}');
        </script>
    {% endif %}

    <form method="POST">
        <label for="from_date">Date from:</label>
        <input type="date" id="from_date" name="from_date" >
        <label for="date_to"> to:</label>
        <input type="date" id="date_to" name="date_to" ><br>
        <input type="submit" value="Search" name="Search">
    </form>

    <table border="1">
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Tickets sold</th>
            <th>Date of Birth</th>
        </tr>
        {% for customer in customers %}
            <tr>
                <td>{{ customer['email'] }}</td>
                <td>{{ customer['name'] }}</td>
                <td>{{ customer['tickets'] }}</td>
                <td>{{ customer['date_of_birth'] }}</td>
            </tr>
            <tr>
                <td colspan="4"> {{ customer['flights'] }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href = "{{ url_for('home') }}" >Home</a>

</body>