<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body style="font-family:Arial, Helvetica, sans-serif">
    <h1>View my flights</h1>
    <form action="{{ url_for('view_my_flights') }}" method="post">
        <label for="departure_date_from">Departure Date from:</label>
        <input type="date" id="departure_date_from" name="departure_date_from" value="{{ request.form['departure_date_from'] }} ">
        <label for="departure_date_to"> to:</label>
        <input type="date" id="departure_date_to" name="departure_date_to" value="{{ request.form['departure_date_to']}} "><br>
        <input type="submit" value="Search">
    </form>

    {% if session.role == 'Customer' %}
    <table border="1">
        <tr>
            <th>Ticket ID</th>
            <th>Flight</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Status</th>
            <th>Departure Airport</th>
            <th>Departure City</th>
            <th>Arrival Airport</th>
            <th>Arrival City</th>
        </tr>
        {% for flight in flights %}
        <tr>
        <td> {{ flight['ticket_id'] }} </td>
        <td> {{ flight['IATA_code'] }}{{ "%03d" | format(flight['flight_num']) }} </td>
        <td> {{ flight['Departure_time'] }} </td>
        <td> {{ flight['Arrival_time'] }} </td>
        {% if flight['status_now'] == 'completed' %}
            <td  style="color: grey;"> {{ flight['status_now'] }} </td>
        {% elif flight['status_now'] == 'cancelled' %}
            <td  style="color: red;"> {{ flight['status_now'] }} </td>
        {% elif flight['status_now'] == 'upcoming' %}
            <td  style="color: black;"> {{ flight['status_now'] }} </td>
        {% elif flight['status_now'] == 'delayed' %}
            <td  style="color: orange;"> {{ flight['status_now'] }} </td>
        {% else %}
            <td  style="color: green;"> {{ flight['status_now'] }} </td>
        {% endif %}
        <td> {{ flight['Departure_Airport'] }} </td>
        <td> {{flight['Departure_city']}} </td>
        <td> {{flight['Arrival_Airport']}} </td>
        <td> {{flight['Arrival_city']}} </td>
        </tr>
        {% endfor %}

    </table>
    {% elif session.role == 'Agent' %}
    <table border="1">
        <tr>
            <th>Flight</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Status</th>
            <th>Available seats</th>
            <th>Departure Airport</th>
            <th>Departure City</th>
            <th>Arrival Airport</th>
            <th>Arrival City</th>
        </tr>
        {% for flight in flights %}
        <tr>
        <td> {{ flight['IATA_code'] }}{{ "%03d" | format(flight['flight_num']) }} </td>
        <td> {{ flight['Departure_time'] }} </td>
        <td> {{ flight['Arrival_time'] }} </td>
        {% if flight['status_now'] == 'completed' %}
            <td  style="color: grey;"> {{ flight['status_now'] }} </td>
        {% elif flight['status_now'] == 'cancelled' %}
            <td  style="color: red;"> {{ flight['status_now'] }} </td>
        {% elif flight['status_now'] == 'upcoming' %}
            <td  style="color: black;"> {{ flight['status_now'] }} </td>
        {% elif flight['status_now'] == 'delayed' %}
            <td  style="color: orange;"> {{ flight['status_now'] }} </td>
        {% else %}
            <td  style="color: green;"> {{ flight['status_now'] }} </td>
        {% endif %}
        <td> {{ flight['remaining_seats'] }} </td>
        <td> {{ flight['Departure_Airport'] }} </td>
        <td> {{flight['Departure_city']}} </td>
        <td> {{flight['Arrival_Airport']}} </td>
        <td> {{flight['Arrival_city']}} </td>
        </tr>
        <tr>
            <td colspan="9">{{flight["passengers"]}}</td>
        </tr>
        {% endfor %}

    </table>
    {% elif session.role == 'Staff' %}
    <table border="1">
        <tr>
            <th>Flight</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Status</th>
            <th>Available seats</th>
            <th>Departure Airport</th>
            <th>Departure City</th>
            <th>Arrival Airport</th>
            <th>Arrival City</th>
        </tr>
        {% for flight in flights %}
        <tr>
        <td> {{ flight['IATA_code'] }}{{ "%03d" | format(flight['flight_num']) }} </td>
        <td> {{ flight['Departure_time'] }} </td>
        <td> {{ flight['Arrival_time'] }} </td>
        {% if flight['status_now'] == 'completed' %}
            <td  style="color: grey;"> {{ flight['status_now'] }} </td>
        {% elif flight['status_now'] == 'cancelled' %}
            <td  style="color: red;"> {{ flight['status_now'] }} </td>
        {% elif flight['status_now'] == 'upcoming' %}
            <td  style="color: black;"> {{ flight['status_now'] }} </td>
        {% elif flight['status_now'] == 'delayed' %}
            <td  style="color: orange;"> {{ flight['status_now'] }} </td>
        {% else %}
            <td  style="color: green;"> {{ flight['status_now'] }} </td>
        {% endif %}
        <td> {{ flight['remaining_seats'] }} </td>
        <td> {{ flight['Departure_Airport'] }} </td>
        <td> {{flight['Departure_city']}} </td>
        <td> {{flight['Arrival_Airport']}} </td>
        <td> {{flight['Arrival_city']}} </td>
        </tr>
        <tr>
            <td colspan="9">{{flight["passengers"]}}</td>
        </tr>
        {% endfor %}
    
    </table>
    {% endif %}
    <a href="{{ url_for('home') }}">Home</a>
</body>